<%= render 'profile' %>

<%= render 'posts/search' %>
<%= render 'profiles/tab' %>

<div class="text-center mb-2 my-4">
    <h1>All User Posts</h1>
    <%= link_to ' Create a new post', new_post_path, class:'btn btn-primary mb-3 bi bi-plus-lg' %>
</div>

<div class="container">
  <%= render 'posts/post', obj: @posts %>
</div>
