<div class="card mb-2">
  <div class="card-body">
    <h1 class="text-center">
        <%= @profile.email %>
    </h1>

    <div class="text-center">
        <h1>
            <img src="https://i.imgur.com/7D7I6dI.png" alt="Avatar" class="avatar-lg shadow mb-3 my-2 rounded-circle">
        </h1>
        <span class="badge rounded-pill text-bg-dark">Has <%= @profile.posts.count %> posts</span>
        <div class="my-2"><%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-danger btn-sm" if current_user.id == @profile.id %></div class="my-2">
    </div>
  </div>
</div>

<% if current_user.id == @profile.id %>
    <div class="text-center mb-2">
        <h1>Posts</h1>
        <%= link_to ' Create a new post', new_post_path, class:'btn bi bi-plus-lg' %>
    </div>
<% else %>
    <div class="text-center mb-2">
        <h1>Posts</h1>
    </div>
<% end %>

<% if @profile.posts.empty? %>
<div class="alert alert-success container my-4" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
<% else %>

<div class="container">
    <%= render 'posts/post', obj: @profile.posts %>
</div>
<% end %>
