<div class="card bg-dark card-profile">
  <div class="card-body">
    <h1 class="text-center text-white">
        <%= @profile.username %>
    </h1>

    <div class="text-center">
      <div>
        <% if @profile.avatar.present? %>
          <%= image_tag(@profile.avatar.variant(resize_to_fill: [150, 150]), class: "avatar-lg shadow mb-3 my-2 rounded-circle") %>
        <% else %>
          <img src="https://png.pngtree.com/png-vector/20220608/ourmid/pngtree-user-mysterious-anonymous-account-vector-png-image_4816288.png" alt="Avatar" class="avatar-lg shadow mb-3 my-2 rounded-circle">
        <% end %>
      </div>
        <span class="badge rounded-pill text-bg-dark">Has <%= @profile.posts.count %> posts</span>
        <div class="my-2"><%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-danger btn-sm" if current_user.id == @profile.id %></div class="my-2">
    </div>
  </div>
</div>

<% if current_user.id == @profile.id %>
    <%= render 'posts/search' %>
    <div class="text-center mb-2">
        <h1>Posts</h1>
        <%= link_to ' Create a new post', new_post_path, class:'btn btn-primary mb-3 bi bi-plus-lg' %>
    </div>
<% else %>
    <div class="text-center mb-2 mt-2">
        <h1>Posts</h1>
    </div>
<% end %>

<% if @profile.posts.empty? %>
  <%= render 'pages/emptyalert' %>
<% else %>

<div class="container">
  <%= render 'posts/post', obj: @posts %>
</div>
<% end %>
