<div class="card mb-2">
  <div class="card-body">
    <h1 class="text-center">
        <%= @profile.email %>
    </h1>

    <div class="text-center">
        <h1>
            <img src="https://i.imgur.com/7D7I6dI.png" alt="Avatar" class="avatar-lg shadow mb-3 my-2 rounded-circle">
        </h1>
        <span class="badge rounded-pill text-bg-dark">Has <%= @profile.posts.count %> posts</span>
        <div class="my-2"><%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-danger btn-sm" if current_user.id == @profile.id %></div class="my-2">
    </div>
  </div>
</div>

<% if current_user.id == @profile.id %>
    <div class="text-center mb-2">
        <h1>Posts</h1>
        <%= link_to ' Create a new post', new_post_path, class:'btn bi bi-plus-lg' %>
    </div>
<% end %>

<div>
    <%= render 'posts/post', obj: @profile.posts %>
</div>