<% if @posts.empty? %>

  <%= render 'jumbotron' %>

  <%= render 'emptyalert' %>

<% else %>

  <% if user_signed_in? %>
    <%= render 'carousel' %>
  <% else %>
    <%= render 'jumbotron' %>
  <% end %>

  <div class="container my-3">
    <%= render 'posts/post', obj: @posts %>
  </div>

<% end %>