<% if @posts.empty? %>

  <%= render 'jumbotron' %>

  <% if params[:action] == 'home'  %>
    <%= render 'layouts/messages' %>
  <% end %>

  <%= render 'emptyalert' %>

<% else %>

  <% if user_signed_in? %>
    <%= render 'carousel' %>
  <% else %>
    <%= render 'jumbotron' %>
  <% end %>

  <% if params[:action] == 'home'  %>
    <%= render 'layouts/messages' %>
  <% end %>

  <div class="container">
    <%= render 'posts/post', obj: @posts %>
  </div>

<% end %>
