<% if @posts.empty? %>

  <%= render 'jumbotron' %>

  <%= render 'emptyalert' %>

<% else %>

  <% if user_signed_in? %>
    <%= render 'carousel', obj: @posts %>
  <% else %>
    <%= render 'carousel', obj: @posts %>
    <%= render 'jumbotron' %>
  <% end %>

  <div class="container my-3">
    <h1 class="text-center mb-3">Latest Post</h1>
      <%= render 'posts/post', obj: @posts %>
  </div>

<% end %>