<div class="container minheight my-4">
<h1>Log in</h1>
<div class="card">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="mb-3">
      <%= f.label :login, 'Username or email address', class:"form-label" %><br />
      <%= f.text_field :login, autofocus: true, class:"form-control", placeholder:"Username or email" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class:"form-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check mb-3 d-flex justify-content-center">
        <%= f.check_box :remember_me, class:"form-check-input me-1" %>
        <%= f.label :remember_me, class:"form-check-label" %>
      </div>
    <% end %>

    <div class="d-grid gap-2">
      <%= f.submit "Log in", class:"btn btn-primary" %>
    </div>

    <% end %>
    <div class="text-center my-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>