<ul class="nav nav-pills nav-fill bg-dark">
  <li class="nav-item">
  <div class="ms-4 me-4 my-2">
    <form action="" id="myForm">
      <%= search_form_for @q do |f| %>
        <div class="input-group">
          <%= f.text_field :title_cont, class: 'form-control', placeholder:"Search" %>
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        </div>
      <% end %>
    </form>
  </div>
  </li>
</ul>
<ul class="nav nav-pills nav-fill bg-dark">
  <li class="nav-item mb-4">
    <a class="nav-link">
      <%= sort_link(@q, :created_at, class:"fs-3") %>
    </a>
  </li>
  <li class="nav-item mb-4">
    <a class="nav-link">
      <%= sort_link(@q, :title, class:"fs-3") %>
    </a>
  </li>
  <li class="nav-item mb-4">
    <a class="nav-link">
      <%= link_to 'Reset', posts_path, class:"fs-3", onclick:"myFunction()" %>
    </a>
  </li>
</ul>
