<div class="container my-4">
<div class="card card-show-post bg-secondary bg-opacity-25 shadow">
  <div class="card-body">
    <div class="position-absolute end-0 me-3" style="top:16px;">
        <div class="dropstart">
          <button type="button" class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <% if current_user.id == @post.user.id %>
                <li>
                  <%= link_to 'Create new post', new_post_path, class:"dropdown-item" %>
                </li>
                <li>
                  <%= link_to 'Edit', edit_post_path, class:"dropdown-item" %>
                </li>
                <li>
                  <%= link_to 'Delete', @post, class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
                <% end %>
            <% end %>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to 'Back', posts_path, class:"dropdown-item" %>
            </li>
          </ul>
        </div>
      </div>

      <% if @post.cover.attached? %>
        <%= image_tag(@post.cover, size: "200x200", alt: "...", class:"img-thumbnail rounded img-show") %>
      <% end %>
      

      <h1 class="text-center mb-4">
        <%= @post.title.upcase %>
      </h1>

      <div class="justify-comment me-3 ms-3">
        <p>
          <%= simple_format(@post.body.upcase_first) %>
        </p>
      </div>
  </div>
  
  <div class="card-footer text-muted">
 
  <div class="row">
    <div class="col-4">
      <% if @post.user.avatar.present? %>
        <%= link_to image_tag(@post.user.avatar.variant(resize_to_fill: [100, 100]), class: "avatar-sm shadow rounded-circle"), profile_path(@post.user.id) %>
      <% else %>
        <%= link_to image_tag("https://png.pngtree.com/png-vector/20220608/ourmid/pngtree-user-mysterious-anonymous-account-vector-png-image_4816288.png", class: "avatar-sm shadow rounded-circle"), profile_path(@post.user.id) %>
      <% end %>
      <%= truncate(@post.user.username, length: 15) %>
    </div>
    <div class="col-8 my-2 text-end">
      Created <%= time_ago_in_words(@post.created_at) %> ago
    </div>
  </div>
  </div>
</div>
</div>

<div class="card">
  <div class="card-footer">
    <div class="container">
  <h1>Comment Form</h1>
      <p>
        <%= render partial: 'comments/form', locals: { post: @post, parent: nil} %>
      </p>
    </div>
    <div class="m-4">
      <div class="mb-4">
        <h5>
          <strong>Comments:</strong>
          <%= @post.comments.count %>
        </h5>
      </div>
      <%= render @post.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
    </div>
  </div>
</div>