<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body class="d-flex flex-column">
  
  <%= render 'layouts/navbar' %>
  <div id="page-content">
  <%# <% if flash %>
  <% if flash.any? %>
    <%= render 'layouts/messages' %>
  <% end %>
    <div>
        <%= yield %>
    </div>
  
  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
